.Welcome{
    position: relative;
    text-align: center;
    background-color: #ec1d24;
   
}

.Banner {
    background-image: url(../../Assets/fundo.jpg);
    height: 70vh;
    width: auto;
    background-size: cover;

}

.Logo {
    height: 100px;

}

.Texto {
    position: absolute;
    color: white;
    font-size: 30px;
    padding-left: 7vw;
    margin-top: 25vh;
    font-family: poppins;
    font-weight: 500;
    
}

@font-face {
    font-family: poppins;
    src: url(/public/Poppins-Light.ttf);
}

.poppins {
    font-family: poppins;
}

.Titlefinal {
    margin-top: 3vh;
    text-align: center;
    font-family: poppins;
    font-size: 40px;
    font-weight: 500;
    color: white;
    
}

.Buttonlow {
    text-align: center;
    align-items: center;
    background-color: #000;
    font-family: poppins;
    font-weight: 500;
  
}

.cards {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10vh;
    display: flex;
    
}

.avatars {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.guide {
    text-align: center;
    margin-top: 2vh;
    margin-left: 10px;
    margin-right: 10px;
    font-family: poppins;
    color: white;
    font-weight: 500;
    font-size: 16px;
    
    
   
}

.cards2 {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10vh;
    display: flex;                                             
    
    
}

.avatars2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.guide2 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-family: poppins;
    color: white;
    font-weight: 500;
    font-size: 16px;

}

.cards3 {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10vh;
    display: flex;
    
}

.avatars3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.guide3 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-family: poppins;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 8vh;

}

.headerherois {
    font-size: 40px;
    text-align: center;
    font-family: poppins;
    font-weight: 500;

}